html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(165, 165, 165, 0.05);
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
}

.subheader-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.2);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

h2 {
    display: flex;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    margin-right: 20px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

h4 {
    display: inline;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
}

h5 {
    display: inline;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    margin-left: 12px;
}

.navigation {
    list-style-type: none;
}

.navigation li {
    display: inline;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.navigation li:hover {
    transform: scale(1.1);
}

.our-office {
    text-align: center;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Untuk membuat gambar menjadi bulat */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 100px; /* Menambahkan jarak antara gambar */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.circle-image:hover {
    transform: scale(1.1);
}

.image-container {
    display: inline-block;
    vertical-align: top; /* Mengatur gambar dan keterangan tetap sejajar */
}

.caption {
    margin-top: 5px; /* Menambahkan jarak antara gambar dan keterangan */
    margin: 0 150px;
    font-weight: bold;
}

.inquiry-box {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    margin-bottom: 50px;
}

.inquiry-form {
    display: inline-block;
    flex-direction: column;
    color: whitesmoke;
}

.inquiry-form label {
    display: grid;    
}

.output {
    border: 2px solid whitesmoke;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

footer {
    position: fixed;
    right: 0px;
    bottom: 0;
    width: calc(100% - 20px); /* Mengurangi lebar footer untuk memberikan ruang bagi scroll bar */
    background-color: rgba(165, 165, 165, 0.05);
    color: white;
    padding: 10px;
    text-align: right; /* Membuat teks footer menjadi rata kiri */
    font-size: 14px;
    margin-left: 10px; /* Memberikan margin kiri agar tidak tertutup oleh scroll bar */
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    color: whitesmoke;
    margin-left: 12px;
}

.container {
    text-align: center; /* Menyusun konten di dalam div ke tengah */
}

.img-slideShow {
    display: block; /* Menghapus spasi tambahan di sekitar gambar */
    margin: 0 auto; /* Membuat gambar berada di tengah */
    max-width: 100%; /* Membuat gambar tidak melebihi lebar kontainer */
    max-height: 300px; /* Menetapkan tinggi maksimum gambar */
    width: auto; /* Memastikan gambar tetap proporsional */
    height: auto; /* Memastikan gambar tetap proporsional */
    transition: transform 0.3s ease;
}

.img-slideShow:hover {
    transform: translateY(-10px) scale(1.3);
}

.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: whitesmoke;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-inline: 100px;
}

.btn:hover {
    transform: translateY(-2px);
}

.contact {
    padding: 130px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}